.home-pricing h2{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.home-pricing-links a{
    text-decoration: none;
    font-weight: 500;
}

.home-price-table{
    text-align: center;
    border: 1px solid lightgray;
    padding: 2rem;
}